* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family:'Times New Roman', Times, serif;
  margin: 5px;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2014/01/23/21/33/blue-250770_1280.jpg);
}

h1 {
  font-size: 50px;
  margin-top: 5px;
  text-align: center;
  font-family: Josefin Sans;
  background-color: #00E0FFFF;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

/*IMP for styling a good UI*/
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #FF2647FF;
  color: #F5BF00FF;
}

.calculator.dark button.btn-number {
  background-color: #2887C7FF;
  color: black;
}

.calculator.dark button.btn-operator {
  background-color: #28C2C7FF;
  color: black;
}

.calculator.dark button.btn-equal {
  background-color: #68d470;
  color: black;
}

footer {
  text-align: center;
  background-color: antiquewhite;
}